<div class="container">
  <form class="example-container"  #Car="ngForm" id="registerCarForm">
    <h1>Daten von einem Wagen kaufen</h1>
    <div class="form-group">
      <label for="car">CarId</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="buyOrder.carId" name="carId" placeholder="ex ZG100"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="car">Welche datentypen?</label>
      <input type="text" class="form-control" id="dataType" [(ngModel)]="buyOrder.eventType" name="carId" placeholder="mileage, service, insurance or all"> <i class="bar"></i>
    </div>

    <div class="form-group">
      <label for="car">Max Preis für Kilometerstand-Daten</label>
      <input type="number" class="form-control" id="model" [(ngModel)]="buyOrder.acceptableMileagePrice" name="Kilometerstand" placeholder="Preis in rappen">
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="car">Max Preis für Versicherungs-Daten</label>
      <input type="number" class="form-control" id="model" [(ngModel)]="buyOrder.acceptableInsurancePrice" name="insurance" placeholder="Preis in Rappen"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="car">Max Preis für Service-Daten</label>
      <input type="bumber" class="form-control" id="model" [(ngModel)]="buyOrder.acceptableServicePrice" name="service" placeholder="Preis in Rappen"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Buy Data" (click)="buyData()"><span>Submit</span></button>
  </div>
</div>
