<mat-toolbar color="primary" class="toolbar mat-elevation-z5">

<h2>Bank of Cardossier</h2>
<img class="reloadDashboard" src="https://cdn0.iconfinder.com/data/icons/cloudy-2/425/refresh-512.png" (click)="update()" height="20px">

<span class="toolbar-spacer"></span>

<button mat-button (click)="launchIssueCurrency()">Coins ausgeben</button>
<button mat-button (click)="launchExitCurrency()">Coins zerstören</button>

<span class="toolbar-spacer"></span>

<div id="cash-balance">
  <ng-container>
    <td>
      Coins in Umlauf: {{currentBalance}}
    </td>
  </ng-container>
</div>


<img class="wallet" src="assets/wallet.png" (click)="getMyBalance()" height="20px">
<tbody *ngIf="balanceOwning">
  <tr>
    <td class="moneten">
        <ng2-odometer class="white" [number]=[balanceOwning] [config]="{ }"></ng2-odometer>
    </td>
    <td><img src="assets/cash.png" height="20px"></td>
  </tr>
</tbody>

</mat-toolbar>

<div class="body-wrapper">

  <div class="col-md-2">
  </div>
  <br>
  <div class="col-md-8">

    <div class="row">
      <div class="panel-heading">Ausgeschüttete Coins
      </div>

    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Betrag</th>
            <th>User</th>
            <th></th>
          </thead>

          <tbody>
            <ng-container *ngFor="let order of issueOrders">
              <tr>
              <td>
                {{order.amount}}
              </td>
              <td>
                {{order.receiver}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="panel-heading">Zerstörte Coins
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Betrag</th>
            <th>User</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let exit of exitOrders">
                <tr>
              <td>
                {{exit.amount}}
              </td>
              <td>
                {{exit.paidBy}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>

  </div>

</div>
