<div class="container">
  <form class="example-container" #Currency="ngForm" id="issueCurrency">
    <h1>Wie viele Car Coins möchten Sie kaufen? 1 Car Coin = 1 Rappen </h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Betrag</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="issueOrder.amount" name="issueOrder" placeholder="amount"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="issueCurrency()"><span>Submit</span></button>
  </div>
</div>
