<div class="col-md-8">

<div class="row">
  <div class="panel-heading">Aktuelle Datenpreise für den nachgefragten Wagen
  </div>
  <br>
<div class="panel-body">
  <div class="grid grid-pad">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Event Art</th>
        <th>Daten Publisher</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let offer of offers">
          <tr class="myOffers">
          <td>
            {{offer.price}}
          </td>
          <td>
            {{offer.eventType}}
          </td>
          <td>
            {{offer.uploader}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
