<div class="container">
  <form class="example-container"  #mileageUpload="ngForm" id="uploadMileage">
    <h1>Upload Versicheruns-Daten</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">CarID</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="insuranceUpload.carId" name="toCar" placeholder="car UUID? check dashboard"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Wagen Besitzer</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="insuranceUpload.acceptor" name="toCar" placeholder="car UUID? check dashboard"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Versicherung</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="insuranceUpload.description" name="km" placeholder="vollkasko?"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Upload Insurance" (click)="uploadInsurance()"><span>Submit</span></button>
  </div>
</div>
