<div class="container">
  <form class="example-container"  #Car="ngForm" id="registerCarForm">
    <h1>Register a Car</h1>
    <div class="form-group">
      <label for="car">Licenseplate</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="car.licenseplate" name="licenseplate" placeholder="ex ZG100"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="car">Make</label>
      <input type="text" class="form-control" id="make" [(ngModel)]="car.make" name="make" placeholder="ex ford"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="car">Model</label>
      <input type="text" class="form-control" id="model" [(ngModel)]="car.model" name="model" placeholder="ex focus"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Register Car" (click)="registerCar()"><span>Submit</span></button>
  </div>
</div>
