<div class="container">
  <form class="example-container" #Currency="ngForm" id="issueCurrency">
    <h1>Car Coins zu CHF wechseln</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Betrag in Car Coins zu Tauschen (1 coin = 1 Rappen)</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="exitOrderToSend.amount" name="exitOrder" placeholder="Betrag"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="exitCurrency()"><span>Submit</span></button>
  </div>
</div>
