
<div class="content">
    <div id=container>

      <div class='container-button-carowner'>
        <span class='pulse-button' (click)="launchDashboard(10012)">Besitzer</span>
      </div>

      <div class='container-button-dongel'>
        <span class='pulse-button' (click)="launchDashboard(10012)">dongel</span>
      </div>


      <div class='container-button-garage'>
        <span class='pulse-button' (click)="launchDashboard(10015)">GarageX</span>
      </div>



      <div class='container-button-axa'>
        <span class='pulse-button' (click)="launchDashboard(10018)">Axa</span>
      </div>


    </div>

    <a class="cd-img" (click)="launchIssuerDashboard()">
      <img src="https://www.ifi.uzh.ch/dam/jcr:c11c7b60-6fe7-49f4-9fba-134a8a058e29/CarDossier_Logo.png" alt="">
    </a>

    <a class="buyer" (click)="launchDashboard(10021)">
      <img src="https://image.flaticon.com/icons/png/512/64/64572.png" alt="">
    </a>

</div>
