<div class="container">
  <form class="example-container" #PriceUpload="ngForm" id="uploadPrice">
    <h1>Setze deine Datenpreise</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Welchen Preis verlangst du für deine Mileage-Daten?</label>
      <input type="text" class="form-control" id="service" [(ngModel)]="priceUpload.mileagePrice" name="priceMileage" placeholder="Betrag in rappen"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Welchen Preis verlangst du für deine Versicherungs-Daten?</label>
      <input type="text" class="form-control" id="service" [(ngModel)]="priceUpload.insurancePrice" name="priceInsurance" placeholder="Betrag in rappen"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Welchen Preis verlangst du für deine Service-Daten?</label>
      <input type="text" class="form-control" id="service" [(ngModel)]="priceUpload.servicePrice" name="priceService" placeholder="Betrag in rappen"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Upload Pricing" (click)="setPrice()"><span>Submit</span></button>
  </div>
</div>
