<div class="container">
  <form class="example-container" #Currency="ngForm" id="issueCurrency">
    <h1>Coins senden</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Betrag (1 coin = 1 Rappern)</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="transferOrder.amount" name="transferOrder" placeholder="Betrag"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Rezipient</label>
      <input type="text" class="form-control" id="receiver" [(ngModel)]="transferOrder.receiver" name="transferOrder" placeholder="Format: O=GarageX, L=Zuerich, C=CH"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="transferCurrency()"><span>Submit</span></button>
  </div>
</div>
