<div class="container">
  <form class="example-container"  #mileageUpload="ngForm" id="uploadMileage">
    <h1>Upload Kilometerstand Data</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">CarID</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="mileage.carId" name="toCar" placeholder="car UUID? check dashboard"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Value in Kilometers</label>
      <input type="number" class="form-control" id="value" [(ngModel)]="mileage.km" name="km" placeholder="km?"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Upload Insurance" (click)="uploadMileage()"><span>Submit</span></button>
  </div>
</div>
