<mat-toolbar color="primary" class="toolbar mat-elevation-z5">

<h2>{{nodeName}}</h2>
<img class="reloadDashboard" src="https://cdn0.iconfinder.com/data/icons/cloudy-2/425/refresh-512.png" (click)="update()" height="20px">
<span class="toolbar-spacer"></span>

<button mat-button [matMenuTriggerFor]="datamart">Datenmarkt</button>

<mat-menu #datamart="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="datauploading">Daten hochladen</button>
  <button mat-menu-item (click)="launchRequestOffer()">Dossier abfragen</button>
  <button mat-menu-item (click)="launchBuyData()">Daten kaufen</button>
  <button mat-menu-item (click)="launchCarRegistration()">Fahrzeug registrieren</button>
</mat-menu>

<mat-menu #datauploading="matMenu">
  <button mat-menu-item (click)="launchMileageUpload()">Kilometerstand</button>
  <button mat-menu-item (click)="launchServiceUpload()">Service</button>
  <button mat-menu-item (click)="launchInsuranceUpload()">Versicherung</button>
</mat-menu>

<span class="toolbar-spacer"></span>
<a mat-button [matMenuTriggerFor]="coins" class="coinsbutton">
<img class="wallet" src="assets/wallet.png" (click)="getMyBalance()" height="20px">
</a>
<mat-menu #coins="matMenu">
  <button mat-menu-item (click)="launchGetCurrency()">Get Car Coins for CHF</button>
  <button mat-menu-item (click)="launchExitCurrency()">Get CHF for Car Coins</button>
  <button mat-menu-item (click)="launchTransferCurrency()">Coins versenden</button>
  <button mat-menu-item [matMenuTriggerFor]="prices">Price Settings</button>
</mat-menu>
<mat-menu #prices="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="myprices">Meine aktuellen Preise</button>
  <button mat-menu-item (click)="launchSetPricing()">Preise setzen</button>
</mat-menu>
<mat-menu #myprices="matMenu">
  <ul>
    <li>Kilometerstand: {{myprices.mileagePrice}} halloo</li>
    <li>Service: {{myprices.servicePrice}}</li>
    <li>Versicherung: {{myprices.insurancePrice}}</li>
  </ul>
</mat-menu>
<tbody *ngIf="balance">
  <tr>
    <td class="moneten">
        <ng2-odometer class="white" [number]=[balance] [config]="{ }"></ng2-odometer>
    </td>
    <td><img src="assets/cash.png" height="20px"></td>
  </tr>
</tbody>


</mat-toolbar>
<br>
<div class="body-wrapper">

  <div class="col-md-2">
  </div>

  <div class="col-md-8">

    <div class="row" *ngIf="mileageData">
      <div class="panel-heading"><h3>Meine hochgeladenen Kilometerstand-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Km</th>
            <th></th>
          </thead>
          <tbody >
            <ng-container *ngFor="let event of mileageData">
              <tr class="myMileageTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.km}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="serviceData">
      <div class="panel-heading"> <h3>Meine hochgeladenen Service-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Beschreibung</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let event of serviceData">
              <tr class="myMileageTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="insuranceData">
      <div class="panel-heading"> <h3>Meine hochgeladenen Versicheruns-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Beschreibung</th>
            <th></th>
          </thead>
          <tbody >
            <ng-container *ngFor="let event of insuranceData">
              <tr class="myMileageTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="mileageDataBought">
      <div class="panel-heading"><h3>Meine gekauften Kilometerstand-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Km</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let event of mileageDataBought">
              <tr class="myMileageTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.km}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="serviceDataBought">
      <div class="panel-heading"><h3>Meine gekauften Service-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Beschreibung</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let event of serviceDataBought">
              <tr class="myMileageTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="insuranceDataBought">
      <div class="panel-heading"> <h3>Meine gekauften Versicherungs-Daten</h3>
      </div>
      <br>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Wagen</th>
            <th>Daten Publisher</th>
            <th>Beschreibung</th>
            <th></th>
          </thead>
          <tbody >
            <ng-container *ngFor="let event of insuranceDataBought">
              <tr class="myinsuranceTable">
              <td>
                {{event.eventId}}
              </td>
              <td>
                {{event.toCar}}
              </td>
              <td>
                {{event.uploader}}
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row" *ngIf="myCars">
      <div class="panel-heading"><h3>Fahrzeuge</h3>
      </div>
      <br>
    <div class="panel-body" >
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Licenseplate</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let car of myCars">
              <tr class="myCarsTable">
              <td>
                {{car.id}}
              </td>
              <td>
                {{car.make}}
              </td>
              <td>
                {{car.model}}
              </td>
              <td>
                {{car.licenseplate}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    </div>

  </div>

</div>
