<div class="container">
  <form class="example-container"  #mileageUpload="ngForm" id="uploadMileage">
    <h1>Upload Service-Daten</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">CarID</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="serviceUpload.carId" name="toCar" placeholder="car UUID? check dashboard"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Wagen Besitzer</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="serviceUpload.acceptor" name="toCar" placeholder="format: O=Car-Owner, L=Zuerich, C=CH "> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Beschreibung</label>
      <input type="text" class="form-control" id="value" [(ngModel)]="serviceUpload.description" name="km" placeholder="ölwechsel??"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Upload Insurance" (click)="uploadService()"><span>Submit</span></button>
  </div>
</div>
