<div class="container">
  <form class="example-container" #Currency="ngForm" id="issueCurrency">
    <h1>Welches Fahrzeug interessiert Sie? </h1>
    <div class="form-group">
      <label for="purchaseOrderDate">CarID</label>
      <input type="text" class="form-control" id="carId" [(ngModel)]="dataRequest.carId" name="dataRequest" placeholder="carId"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="makeRequest()"><span>Submit</span></button>
  </div>
</div>
