<div class="container">
  <form class="example-container" #Currency="ngForm" id="issueCurrency">
    <h1>Issue Currency as the Cardossier</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Amount of CHF worth of coins (1 coin = 1 Rappern)</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="issueOrder.amount" name="issueOrder" placeholder="amount"> <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="purchaseOrderDate">Issue to which Party?</label>
      <input type="text" class="form-control" id="receiver" [(ngModel)]="issueOrder.receiver" name="issueOrder" placeholder="receiver"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="issueCurrency()"><span>Submit</span></button>
  </div>
</div>
