<div class="container">
  <form class="example-container" #Car="ngForm" id="issueCurrency">
    <h1>Exit Currency as the Cardossier</h1>
    <div class="form-group">
      <label for="purchaseOrderDate">Amount of CHF worth of coins (1 coin = 1 Rappern)</label>
      <input type="number" class="form-control" id="amount" [(ngModel)]="exitOrder.amount" name="issueOrder" placeholder="amount"> <i class="bar"></i>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" value="Issue Currency" (click)="exitCurrency()"><span>Submit</span></button>
  </div>
</div>
